figures/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.idea
gifs
plots
ra_xfads_training/results
*.png
*.gif
pyrightconfig.json
invariant_manifolds
ra_xfads_training/ckpts
ra_xfads_training/logs/r_y_2_r_b_2/noncausal
nhim.ipynb
nhim_bak.py
nhimg2.py
in_progress/ckpts_regularized
in_progress/logs_regularized
